*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:"Cairo",sans-serif;

background:white;

color:#111827;

overflow-x:hidden;

}



/* Announcement */

.announcement-bar{

background:#111827;

color:white;

padding:14px;

text-align:center;

font-size:17px;

font-weight:700;

}



/* Logo */

.brand{

display:flex;

align-items:center;

justify-content:center;

gap:30px;

padding:35px 25px;

max-width:1200px;

margin:auto;

}

.brand-logo{

width:190px;

animation:fade 1s ease;

}

.divider{

flex:1;

height:1px;

background:#e5e7eb;

}



/* Hero */

.hero{

max-width:950px;

margin:auto;

padding:10px 20px 40px;

text-align:center;

position:relative;

}

.hero::before{

content:"";

position:absolute;

width:450px;

height:450px;

background:#4fc3ff;

filter:blur(140px);

opacity:.15;

border-radius:50%;

left:50%;

transform:translateX(-50%);

top:120px;

z-index:-1;

}

.hero-image{

width:100%;

display:block;

margin:auto;

animation:fade 1s ease;

}



.cta-btn{

display:inline-block;

margin-top:40px;

padding:18px 60px;

background:#0EA5E9;

color:white;

font-size:24px;

font-weight:800;

text-decoration:none;

border-radius:999px;

transition:.35s;

box-shadow:0 15px 45px rgba(14,165,233,.35);

}



.cta-btn:hover{

background:#0284C7;

transform:translateY(-4px);

box-shadow:0 22px 60px rgba(14,165,233,.45);

}



/* Trust */

.trust{

max-width:1000px;

margin:60px auto;

padding:0 20px;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}



.trust-card{

background:white;

border:1px solid #eef2f7;

border-radius:22px;

padding:35px 20px;

text-align:center;

box-shadow:0 15px 35px rgba(0,0,0,.05);

transition:.3s;

}



.trust-card:hover{

transform:translateY(-8px);

}



.icon{

font-size:34px;

margin-bottom:18px;

}



.trust-card h3{

font-size:20px;

font-weight:700;

}



/* Animation */

@keyframes fade{

from{

opacity:0;

transform:translateY(25px);

}

to{

opacity:1;

transform:translateY(0);

}

}



/* Mobile */

@media(max-width:768px){

.brand-logo{

width:150px;

}

.trust{

grid-template-columns:1fr;

}

.cta-btn{

width:100%;

max-width:330px;

font-size:22px;

}

}
